{# Creer une barre de navigation avec Bootstrap #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">SiteConnexion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active d-flex flew-row">
                <a class="nav-link" href="">Home</a>
                <a class="nav-link" href="{{ path('app_article') }}">Articles</a>
                <a class="nav-link" href="{{ path('panier_show') }}">Panier</a>
            </li>
            <li class="nav-item d-flex">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
            </li>
            {# si profil admin, alors item de liste Dashboard #}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Dashboard</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>