{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 500px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        {% for article in articles %}
            <div class="card mb-3">
                <img src="{{ article.image }}" class="card-img-top" alt="{{ article.titre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.titre }}</h5>
                    <p class="card-text">{{ article.prix }} €</p>
                    <a id="article-show" href="{{ path('app_article_show', {id: article.id}) }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
